{% extends "accounts/_base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <section class="p-5 gradient-custom-2" style="width: 40vw; margin: 10vh auto; border-radius: 5px; box-shadow: 0 0 5px rgba(204, 204, 204, 0.7); animation: pulse-shadow 2s infinite;">
    <style>
        .gradient-custom-2 {
            background: linear-gradient(to right, rgba(10, 25, 41, 1), rgba(24, 38, 49, 1));
        }

        .card {
            border-radius: 15px;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }
    </style>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body" style="box-shadow: 0 0 5px rgba(204, 204, 204, 0.7); background: linear-gradient(to bottom, #2c3e50, #4b6584);">
            <form action="" method="post">
              {% csrf_token %}

              <div style="position: relative;">

                <h3 class="fw-normal mb-4">Sign up</h3>
                {{ form|crispy }}

                <input type="submit" class="btn btn-dark btn-lg" value="Sign up">
                <span style="position: absolute; bottom: 0; right: 0;">
                I already have account: 
                <a href="{% url 'accounts:login' %}" class="btn btn-secondary btn-lg">Login</a>
              </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

