{% extends "accounts/_base.html" %}

{% block content %}

  <section class="p-5 gradient-custom-2" style="border-radius: .5rem; width: 50vw; margin: 20vh auto 0;">
    <style>
        .gradient-custom-2 {
            background: linear-gradient(to right, rgba(211, 211, 211, 1), rgba(169, 169, 169, 1));
        }

        .card {
            border-radius: 15px;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }
    </style>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h3>An email has been sent with instructions to verify your email</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}