{% extends "accounts/_base.html" %}

{% block content %}

  <section class="p-5 gradient-custom-2" style="width: 50vw; margin: 20vh auto 0; border-radius: 5px; box-shadow: 0 0 5px rgba(204, 204, 204, 0.7); animation: pulse-shadow 2s infinite;">
    <style>
        .gradient-custom-2 {
            background: linear-gradient(to right, rgba(10, 25, 41, 1), rgba(24, 38, 49, 1));
        }

        .card {
            border-radius: 15px;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }
    </style>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body" style="box-shadow: 0 0 5px rgba(204, 204, 204, 0.7); background: linear-gradient(to bottom, #2c3e50, #4b6584);">
            <h3>An email has been sent with instructions to verify your email</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
