{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
{#  <h1>Delete project {{ project.name }}?</h1>#}
{#  <form action="" method="post">#}
{#    {% csrf_token %}#}
{#    <input type="submit" value="Yes" class="btn btn-danger">#}
{#  </form>#}

  <section class="p-5 gradient-custom-2" style="width: 40vw; margin: -200px auto 0; border-radius: 5px; box-shadow: 0 0 5px rgba(204, 204, 204, 0.7); animation: pulse-shadow 2s infinite;">
    <style>
        .gradient-custom-2 {
            background: linear-gradient(to right, rgba(70, 0, 0, 1), rgba(139, 0, 0, 1));

        }

        .card {
            border-radius: 15px;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }
    </style>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body" style="box-shadow: 0 0 5px rgba(204, 204, 204, 0.7); background: linear-gradient(to bottom, #2c3e50, #4b6584)";>
                    <form action="" method="post" >
                        {% csrf_token %}
                        <div style="position: relative">
                                <h3 class="fw-normal mb-4" style="padding-bottom: 40px;">Delete: {% if object.name %}{{ object.name }}{% else %}{{ object.username }}{% endif %}?</h3>
{#                                <div class="form-group">#}
{#                                    {{ form.name|as_crispy_field }}#}
{#                                </div>#}
                                <div style="position: absolute; top: 60px;right: 10px">
                                  <a href="javascript:history.go(-1)" class="btn btn-secondary">No</a>
                                <input type="submit" value="Yes" class="btn btn-danger" >
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}