{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <section class="p-5 gradient-custom-2" style="border-radius: .5rem; width: 40vw; margin: -200px auto 0;">
    <style>
        .gradient-custom-2 {
            background: linear-gradient(to right, rgba(211, 211, 211, 1), rgba(169, 169, 169, 1));

        }

        .card {
            border-radius: 15px;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }
    </style>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div>
                                <h3 class="fw-normal mb-4">Create position</h3>
                                <div class="form-group">
                                    {{ form.name|as_crispy_field }}
                                </div>
                                <input type="submit" class="btn btn-secondary btn-lg" value="Create">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}