{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {#  <h1>Create new task</h1>#}
  {#  <form action="" method="post">#}
  {#  {% csrf_token %}#}
  {#    {{ form.as_p }}  #}
  {#    <input type="submit" class="btn btn-secondary" value="Create">#}
  {#  </form>#}
{#  <section class="w-100 p-5 gradient-custom-2" style="border-radius: .5rem .5rem 0 0;">#}
{#    <style>#}
{#        @media (min-width: 1025px) {#}
{#            .h-custom {#}
{#                height: 100vh !important;#}
{#            }#}
{#        }#}
{##}
{#        .card-registration .select-input.form-control[readonly]:not([disabled]) {#}
{#            font-size: 1rem;#}
{#            line-height: 2.15;#}
{#            padding-left: .75em;#}
{#            padding-right: .75em;#}
{#        }#}
{##}
{#        .card-registration .select-arrow {#}
{#            top: 13px;#}
{#        }#}
{##}
{#        .gradient-custom-2 {#}
{#            /* fallback for old browsers */#}
{#            background: #a1c4fd;#}
{##}
{#            /* Chrome 10-25, Safari 5.1-6 */#}
{#            background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));#}
{##}
{#            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */#}
{#            background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))#}
{#        }#}
{##}
{#        .bg-indigo {#}
{#            background-color: #4835d4;#}
{#        }#}
{##}
{#        @media (min-width: 992px) {#}
{#            .card-registration-2 .bg-indigo {#}
{#                border-top-right-radius: 15px;#}
{#                border-bottom-right-radius: 15px;#}
{#            }#}
{#        }#}
{##}
{#        @media (max-width: 991px) {#}
{#            .card-registration-2 .bg-indigo {#}
{#                border-bottom-left-radius: 15px;#}
{#                border-bottom-right-radius: 15px;#}
{#            }#}
{#        }#}
{#    </style>#}
{#    <div class="row">#}
{#      <div class="col-12">#}
{#        <div class="card card-registration card-registration-2" style="border-radius: 15px;">#}
{#          <div class="card-body p-0">#}
{#            <div class="row g-0">#}
{#              <form action="" method="post" style="margin: 0;#}
{#    padding: 0;#}
{#    border: none;#}
{#    background: none;#}
{#    font: inherit;#}
{#    color: inherit;">#}
{#                {% csrf_token %}#}
{#                <div class="col-lg-6">#}
{##}
{#                  <div class="p-5">#}
{#                    <h3 class="fw-normal mb-5" style="color: #4835d4;">Create task</h3>#}
{##}
{#                    <div class="form-group">#}
{#                      {{ form.name|as_crispy_field }}#}
{#                    </div>#}
{##}
{#                    <div class="form-group">#}
{#                      {{ form.description|as_crispy_field }}#}
{#                    </div>#}
{##}
{#                    <div class="form-group">#}
{#                      {{ form.deadline|as_crispy_field }}#}
{#                    </div>#}
{##}
{#                    <div class="form-group">#}
{#                      {{ form.priority|as_crispy_field }}#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                      {{ form.task_type|as_crispy_field }}#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="col-lg-6 bg-indigo text-white">#}
{#                  <div class="p-5">#}
{#                    <h3 class="fw-normal mb-5">Assign workers</h3>#}
{##}
{#                    <div class="form-group">#}
{#                      {{ form.assignees|as_crispy_field }}#}
{#                    </div>#}
{##}
{#                    <input type="submit" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-light btn-lg"#}
{#                           data-mdb-ripple-color="dark" data-mdb-button-initialized="true" value="Create">#}
{##}
{#                  </div>#}
{#                </div>#}
{#              </form>#}
{##}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}
<section class="w-100 p-5 gradient-custom-2" style="border-radius: .5rem;">
    <style>
        .gradient-custom-2 {
            background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
        }

        .card {
            border-radius: 15px;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        {#.btn {#}
            {#width: 100%;#}
        {#    border-radius: 0.5rem;#}
        {#    padding: 0.75rem;#}
        {#    font-size: 1.25rem;#}
        
    </style>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="fw-normal mb-4">Create Task</h3>
                                <div class="form-group">
                                    {{ form.name|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    {{ form.description|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    {{ form.deadline|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    {{ form.priority|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    {{ form.task_type|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="fw-normal mb-4">Assign Workers</h3>
                                <div class="form-group">
                                    {{ form.assignees|as_crispy_field }}
                                </div>
                                <input type="submit" class="btn btn-primary btn-lg" value="Create">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}



