{% extends "base.html" %}

{% block content %}
  <div style="margin-top: 120px;">
    <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
      <h1>Project list</h1>
      <a href="{% url 'catalog:project-create' %}" class="btn btn-secondary btn-lg">Create project</a>
    </div>
    <ul style="display: flex; flex-wrap: wrap; list-style: none; border: 1px solid #ccc; border-radius: 5px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); padding: 20px;">
      {% for project in project_list %}
        <li style="flex: 0 0 48%; margin: 1%; padding: 20px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; width: 45%;">
          <div class="card" style="width: 100%; margin-bottom: 20px">
            <div class="card-body" style="position: relative">
              <h5 class="card-title">{{ project.name }}</h5>
              <div style="position: absolute; top: 10px; right: 10px; display: flex; gap: 10px;">
                <a href="{% url 'catalog:project-update' pk=project.id %}" class="btn btn-secondary">Update
                  project</a><a
                  href="{% url 'catalog:project-delete' pk=project.id %}" class="btn btn-danger"
              >Delete project</a>
              </div>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Team: {{ project.workers.count }} {{ project.workers.count|pluralize:"person,people" }}</h6>
              <h6 class="card-subtitle mb-2 text-body-secondary">Tasks: {{ project.tasks.count }}
                task{{ project.tasks.count|pluralize }}</h6>
              <p class="card-text">{{ project.description }}</p>
              <a href="{% url 'catalog:project-task-list' pk=project.id %}" class="card-link">Tasks</a>
              <a href="#" class="card-link">Team</a> {# {% url 'catalog:project-task-list' pk=project.id %} #}
              <a href="{% url 'catalog:project-detail' pk=project.id %}" class="btn btn-outline-success"
                 style="position: absolute; bottom: 10px; right: 10px">Open</a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% include "includes/pagination.html" %}

{% endblock %}