{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<section class="w-100 p-5 gradient-custom-2" style="border-radius: .5rem;">
    <style>
        .gradient-custom-2 {
            background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
        }

        .card {
            border-radius: 15px;
        }

        .form-group {
            margin-bottom: 1.5rem;
        }
    </style>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="fw-normal mb-4">Create Task</h3>
                                <div class="form-group">
                                    {{ form.name|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    {{ form.description|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    {{ form.deadline|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    {{ form.priority|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    {{ form.task_type|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="fw-normal mb-4">Assign Workers</h3>
                                <div class="form-group">
                                    {{ form.assignees|as_crispy_field }}
                                </div>
                                <input type="submit" class="btn btn-primary btn-lg" value="Create">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}



