{% extends "base.html" %}

{% block content %}
  <h1>{{ project_name }}: task list</h1>
  <a href="{% url 'catalog:project-task-create' pk=project_pk %}" class="btn btn-secondary">Create task</a> {#  #}
  <p>Count of tasks: {{ object_list.count }}</p>
  {% if object_list %}
    <ul style="list-style: none;">
      {% for task in object_list %}
        <li>
          <div class="card" style="width: 50vw; margin-bottom: 20px; position: relative;">
            <div class="card-body" style="position: relative">
              <p>{{ task.name }}</p>
              <p>Priority: {{ task.priority }}</p>
              <p>Deadline: {{ task.deadline }}</p>
              <p>task.project.id: {{ task.project.id }}</p>
              <p>task.id: {{ task.id }}</p>
              <form action="{% url 'catalog:project-task-toggle-completed' project_pk=project_pk pk=task.id %}" method="post" style="position: absolute; top: 10px; right: 10px;">
                {% csrf_token %}
                <div class="form-group">
                  <label for="toggle_field">Completed</label>
                  <label class="switch">
                    <input type="submit" id="toggle_field" name="toggle_field"
                           class="{% if task.is_completed %}checked{% endif %}">
                    <span class="slider"></span>
                  </label>
                </div>
              </form>
              <p>Is completed: {{ task.is_completed }}</p>
              <a href="{% url 'catalog:project-task-detail' project_pk=task.project.id pk=task.id %}">Open</a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There no any task</p>
  {% endif %}

  {% include "includes/pagination.html" %}
{% endblock %}